<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<br>

<h4> reviews </h4>

  <% @restaurant.reviews.each do |review| %>
     <div>
      <%= review.content %>
      <%= review.rating %>
     </div>
  <% end %>

<button><%= link_to 'Back', restaurants_path %></button>
<button><%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></button>